.main-btn {
  outline: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 20px;
  color: #4e4e4e;
  cursor: pointer;
  background: #00ffff44;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  transition: all 0.35s ease;
}

.main-btn:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.main-btn:active {
  transform: scale(0.9);
}
