.main-container {
  width: 280px;
  height: 600px;
  background: #fff;
}

.button-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
  height: 60%;
  padding: 10px;
}
