body {
  font-family: sans-serif;
  box-sizing: border-box;
}

h1 {
  text-transform: uppercase;
  font-size: 26px;
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
}

li {
  font-size: 20px;
}
